colorama~=0.4.6
coverage~=7.6.10
DateTime~=5.5
psutil~=6.1.1
py-cpuinfo~=9.0.0
pytest~=8.3.4
pytest-benchmark~=5.1.0
pytest-cov~=6.0.0
pytest-timeout~=2.3.1
pytz~=2024.2
PyYAML~=6.0.2
requests~=2.32.3
setuptools~=75.8.0
six~=1.16.0
spark-parser~=1.8.9
uncompyle6~=3.9.2
xdis~=6.1.1
